@import "~react-datepicker/dist/react-datepicker.css";

img {
  max-width: 35px;
}

#input_container {
  position:relative;
}
#input {
  margin:0;
}
#input_img {
  position:absolute;
  left: 340px;
}

.input-styles {
  border-style: hidden;
  box-shadow: 2px 2px 4px gray;
  border-radius: 4px;
  width: 380px;
  padding: 10px 0% 10px 0%;
  font-size: 18px;
  color: #8f8f8f;
}

.table-styles {
  margin-top: 4%;
  width: 380px;
  font-size: 140%;
  text-align: center;
}

.App {
  width: 80%;
  margin-left: 35%;
  margin-right: 35%;
}

.select-title {
  padding-top: 3%;
  padding-bottom: 1%;
  font-size: 20px;
}

.button-find {
  border-style: hidden;
  margin-top: 5%;
  background-color: #fe7140;
  border-radius: 35px;
  font-size: 140%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 6px 12px 21px #ffd8d2;
  color: white;
  width: 380px;
}

.button-more {
  margin-top: 5%;
  background-color: white;
  border-radius: 35px;
  font-size: 140%;
  border-color: #fe7140;
  border-width: thin;
  border-style: solid;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 6px 12px 21px #ffd8d2;
  color: #fe7140;
  width: 380px;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid rgb(164, 161, 161);
}