/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import "~react-datepicker/dist/react-datepicker.css";

img {
  max-width: 35px;
}

.table-styles {
  margin-top: 4%;
  width: 380px;
  font-size: 140%;
  text-align: center;
}

.App {
  width: 80%;
  margin-left: 35%;
  margin-right: 35%;
}

.select-title {
  padding-top: 3%;
  padding-bottom: 1%;
  font-size: 20px;
}

.input-styles {
  border-style: hidden;
  box-shadow: 2px 2px 4px gray;
  border-radius: 4px;
  width: 380px;
  padding: 2% 0% 2% 0%;
  font-size: 18px;
  color: rgba(123,123,123,255);
}

.button-style {
  border-style: hidden;
  margin-top: 5%;
  background-color: rgba(254,113,64,255);
  border-radius: 35px;
  font-size: 140%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 7%;
  padding-left: 7%;
  box-shadow: 0 0 3px;
  color: white;
  width: 380px;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid rgb(164, 161, 161);
}